<gaggle-overlay (closeOverlay)="close()">

  <div class="modal-form-wrapper">
    <div class="form-left">
      <img alt="busted image" src="assets/icon-Gaggle.png" height="50px">
    </div>
    <div class="form-right">
      <div class="form-title">
        Reset Password
        <span style="flex: 1;"></span>
      </div>
      <form [formGroup]="resetPasswordForm" style="width: 100%">

        <gaggle-input label="Email" inputId="emailAddress" autofocus #email
                      formControlName="email" [control]="resetPasswordForm.get('email') | formControl"></gaggle-input>

      </form>
    </div>
  </div>

  <div class="form-actions">
    <button (click)="close()">
      Cancel
    </button>

    <!-- This div is here just to provide flexible space -->
    <div style="flex: 1"></div>

    <button (click)="resetPassword()" class="action-button" [disabled]="resetPasswordForm.invalid">
      Send Reset Instructions
    </button>
  </div>

</gaggle-overlay>
