$header-height: 40px;

div.grid-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 48px;
  background: #EBEBEB;
  padding-left: 24px;

  div.search-field {

    min-height: 40px;
    max-width: 200px;
    margin-right: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .search-input {

      background: rgba(255, 255, 255, 0.90);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
      border-radius: 3px;
      width: 100%;
      min-height: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      span.icon {
        margin: 0 3px;
        font-size: 16px;
      }

      input {
        border: none;
        font-size: 12px;

        &:focus {
          outline: none;
        }
      }

    }

    & > div.search-label {
      margin-top: 1px;
      font-size: 10px;
    }
  }
}

div.grid {

  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
  font-weight: 400;

  .table-layout {
    display: grid;
    grid-template-columns: 40px .5fr 120px 1fr;
  }

  .grid-column {
    margin: 0 5px;
    border-right: 1px solid white;
  }

  & > div.grid-header {
    @extend .grid-toolbar;
    @extend .table-layout;
    min-height: $header-height;
    padding-left: 24px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.70);
    letter-spacing: 0.15px;
    line-height: 20px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.08), 0 4px 4px 0 rgba(0,0,0,0.08);

    div.column-header {
      border-color: gray;
    }

    & > div:last-of-type {
      border-color: transparent;
    }

  }

  & > div.grid-content {

    min-height: calc(100% - $header-height);
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;

    div.grid-row-wrapper {
      min-height: 36px;
      border-bottom: 1px solid #EBEBEB;
      display: flex;
      flex-direction: row;
      align-items: center;

      div.grid-row-content {
        @extend .table-layout;
        flex: 1;
        padding-left: 24px;
      }
    }
  }
}
