<!-- Modal for Registration Form -->
<gaggle-overlay *ngIf="showModalRegistration" [(showOverlay)]="showModalRegistration">
  <app-registration-form [(showForm)]="showModalRegistration"></app-registration-form>
</gaggle-overlay>

<gaggle-overlay *ngIf="showModalResetPw" [(showOverlay)]="showModalResetPw">
  <app-reset-password-form [(showForm)]="showModalResetPw"></app-reset-password-form>
</gaggle-overlay>

<!-- Login Layout (always visible)-->
<div class="full-width-image">
  <a href="https://www.gaggle.net" class="logo" target="_blank" tabindex="-1">
    <img alt="Gaggle Logo" src="../../../../assets/logo--Gaggle.svg" />
  </a>
  <div class="login-form-back">
    <div class="login-form-overlay">
      <div style="flex: 1;"></div>
      <div class="login-form">
        <form [formGroup]="loginForm">

            <gaggle-input label="Username" inputId="username" [suppressErrors]="true"
                              #username formControlName="username" [control]="loginForm.get('username') | formControl ">
            </gaggle-input>
            <gaggle-input label="Password" inputId="password" [suppressErrors]="true"
                              inputType="password" #password formControlName="password"
                              [control]="loginForm.get('password') | formControl ">
            </gaggle-input>
            <gaggle-checkbox label="Remember" formControlName="rememberUser"></gaggle-checkbox>

            <div class="button-wrapper">
              <button (click)="loginUser()" [disabled]="loginForm.invalid || showModalResetPw || showModalRegistration">
                <span>Sign On</span>
              </button>
            </div>

            <div class="error-message">{{ loginError }}</div>

        </form>
      </div>
      <div style="flex: 1;"></div>
      <div class="form-links">
        <span (click)="showRegistrationForm()">Register</span>
        <span class="spacer">|</span>
        <span (click)="showResetPasswordForm()">Forgot Password?</span>
      </div>
    </div>
  </div>
</div>
