<!-- Modal for Registration Form -->
<app-registration-form></app-registration-form>
<app-reset-password-form></app-reset-password-form>

<!-- Login Layout (always visible)-->
<div class="full-width-image">
  <a href="https://www.gaggle.net" class="logo" target="_blank" tabindex="-1">
    <img alt="Gaggle Logo" src="../../../../assets/logo--Gaggle.svg" />
  </a>
  <div class="login-form-back">
    <div class="login-form-overlay">
      <div style="flex: 1;"></div>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <gaggle-input label="Username" inputId="username" [suppressErrors]="true"
                              #username formControlName="username" [control]="loginForm.get('username') | formControl ">
            </gaggle-input>
            <gaggle-input label="Password" inputId="password" [suppressErrors]="true"
                              inputType="password" #password formControlName="password"
                              [control]="loginForm.get('password') | formControl ">
            </gaggle-input>
            <div class="checkbox-wrapper">
              <gaggle-checkbox label="Remember" formControlName="rememberUser"></gaggle-checkbox>
            </div>

            <div class="button-wrapper">
              <button [disabled]="loginForm.invalid">
                <span>Sign On</span>
              </button>
            </div>

            <div class="error-message">{{ loginError }}</div>

        </form>
      </div>
      <div style="flex: 1;"></div>
      <div class="form-links">
        <span (click)="showRegistrationForm()">Register</span>
        <span class="spacer">|</span>
        <span (click)="showResetPasswordForm()">Forgot Password?</span>
      </div>
    </div>
  </div>
</div>
