<div class="form-field">

  <label [for]="inputId">{{ label }}</label>

  <div *ngIf="inputType == 'password'" class="password-visibility" (click)="togglePasswordVisibility()">
    <img *ngIf="!showPassword" src="assets/icon&#45;&#45;eye-open.svg">
    <img *ngIf="showPassword" src="assets/icon&#45;&#45;eye-closed.svg">
    <span>{{ showPassword ? 'Hide' : 'Show' }}</span>
  </div>

  <div class="input-wrapper" [ngClass]="focused ? 'input-focused' : null">
    <input [ngModel]="value" [type]="type" (ngModelChange)="onModelChange($event)"
           [id]="inputId" [disabled]="disabled" #input  />

    <span class="clear-btn" *ngIf="value" (click)="clearInput($event)">
      <img src="../../../../assets/icon--saltire.svg" />
    </span>

  </div>

  <div class="error-message" *ngIf="!suppressErrors && control && control.errors && control.dirty">
    <img alt="error icon" src="../../../../assets/icon--alert.svg" />
    <span *ngIf="control.errors['required']">
      {{ label }} is required!
    </span>

    <span *ngIf="control.errors['minlength']">
      {{ label }} must be at least {{ control.errors['minlength']['requiredLength'] }} characters.
    </span>

    <span *ngIf="control.errors['email']">
      {{ label }} must be a valid email address.
    </span>
  </div>

</div>
