<gaggle-overlay (closeOverlay)="close()">

  <div class="modal-form-wrapper">
    <div class="form-left">
      <img alt="busted image" src="assets/icon-Gaggle.png" height="50px">
    </div>
    <div class="form-right">
      <div class="form-title">
        New Account
        <span style="flex: 1;"></span>
      </div>
      <form [formGroup]="registrationForm" style="width: 100%">

        <gaggle-input label="Username" inputId="regUsername" #regUsername
                      formControlName="username" [control]="registrationForm.get('username') | formControl "></gaggle-input>
        <gaggle-input label="Password" inputId="regPassword" inputType="password"
                      formControlName="password" [control]="registrationForm.get('password') | formControl "></gaggle-input>
        <gaggle-input label="Email" inputId="regEmail"
                      formControlName="email" [control]="registrationForm.get('email') | formControl"></gaggle-input>

      </form>
    </div>
  </div>

  <div class="form-actions">
    <button (click)="close()">
      Cancel
    </button>

    <!-- This div is here just to provide flexible space -->
    <div style="flex: 1"></div>

    <button (click)="registerUser()" class="action-button" [disabled]="registrationForm.invalid">
      Register Account
    </button>
  </div>

</gaggle-overlay>
