div.icon-menu-button {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 12px;

  button {
    margin: 0;
    padding: 0;
    border: none;
    height: 24px;
    width: 48px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    span.chevron {
      margin-left: 3px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  div.button-label {
    margin-top: 1px;
    font-size: 10px;
  }

}
