/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Product Sans" ,Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
}
